@charset "ISO-8859-1";

.smallBoxes{
	border: 2px solid black;
	width: 200px;
	height: 150px;
	text-align: center;
}

h1{
	text-align: center;
}

.activities{
	overflow-y: scroll;
	height:400px;
	text-align: center;
}

.redText{
	color:red;
}

.greenText{
	color:green;
}